<!DOCTYPE html>
{% load i18n static %}

<html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
        <title>DEMO</title>
        <link href='http://fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>

        <style>
            ul.errorlist{
                list-style-type: none;
                color:red;
            }
        </style>
    </head>
    <body>

        <div id="theme-wrapper">
            <div class="container h-band">
                <div class="row">
                    <div class="center-block content text-center">

                        <div class="panel-heading">
                            <h3 class="panel-title">Login</h3>
                        </div>
                        <form action="{% url 'login' %}" method="POST">
                            {% csrf_token %}
                            {{ form.non_field_errors }}

                                <div class="input-group input-group-lg">
                                    <span class="input-group-addon">(admin)</span>
                                    <input type="text" class="form-control" id="id_username" name="username" placeholder="Username" aria-describedby="addon-user">
                                </div>
                                {{ form.username.errors }}
                                <div class="input-group input-group-lg">
                                    <span class="input-group-addon">(123)</span>
                                    <input type="password" class="form-control" id="id_password" name="password" placeholder="Password" aria-describedby="addon-password">
                                    <input type="hidden" name="next" value="{{ next }}" />
                                </div>
                                {{ form.password.errors }}

                                <button type="submit" class="btn btn-default">Sign In</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </body>
</html>

